body {
	margin: 0px;
}
.main {
	height: 700px;
	background-image: url(me.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (min-width: 1000px) {	
#container {
	height: 700px;
	width: 1000px;
	margin: 0 auto;
}
}


.header {
	margin-top: 0px;
	width: 1000px;
	margin: 0 auto;
}

.logo {
	margin-top: 10px;
	float: left;
}

nav {
	float: right;
	margin-top: 20px;
}

.navbar {
	color: #fff;
	ont-size: 20px;
	margin-left: 25px;
	text-decoration: none;
}

.navbar:hover {
	text-decoration: underline;
}

span {
	width: 100%;
}

h1 {font-size: 80px;
color: #fff;
text-align: center;
clear: both;
padding-top: 350px; }

h2 {font-size: 36px;
color: #fff;
text-align: center;
clear: both;
margin-top: -70px;}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
}

/*HEADER SECTION*/
#head {
	width: 100%;
	height: 350px;
	background-image: url(portback.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

}

.port{
	padding-top: 75px;
}

.portfolio{
	width: 300px;
	height: 250px;

}

.padding {
	padding-left: 46px;
}

.one {
	margin-top: 46px;
	width: 225px;
	height: 187.5px;
	padding-left: 46px

}

.two {
	margin-top: 46px;
	width: 225px;
	height: 187.5px;
	padding-left: 46px
}

.three {
	margin-top: 46px;
	width: 225px;
	height: 187.5px;
	padding-left: 46px
}

.four {
	margin-top: 46px;
	width: 225px;
	height: 187.5px;
	padding-left: 46px
}

